:root {
  --container-max: 56rem;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly ;
  flex-wrap: wrap;
}

.region {
  padding-top: 3rem;
  padding-bottom: 3.6rem;
  display: flex ;
  justify-content: space-between;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 12rem;
}

@media (max-width: 600px) {
  header svg {
    display: none;
  }
}